html,
body {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightblue;
}

#title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  width: 100vw;
  height: 5rem;
}

.btn-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#add-score {
  text-align: center;
}

input {
  font-size: 1.1rem;
  padding: 0.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}

input[type="text"],
input[type="number"] {
  width: 50%;
}

input[type="button"] {
  background-color: rgba(0, 120, 130, 1);
  color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: cornflowerblue;
}

#points {
  height: 500px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 120, 130, 1);
  border: 1px solid rgba(0, 120, 130, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#scores {
  background-color: rgba(0, 120, 130, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 0.4rem;
  height: 3rem;
  color: white;
}
