html,
body {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

#container {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#points {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  overflow: auto;
}

#scores {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 0.4rem;
  height: 3rem;
}
